#registerForm .form-group {
    padding: 0 10px;
}

#removeKitForm {
    display: inline-block;
    margin-left: 30px;
}

h1.title, h2.title {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid $heading-accent-primary;
}